PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "migrations" ("id" integer primary key autoincrement not null, "migration" varchar not null, "batch" integer not null);
INSERT INTO migrations VALUES(1,'0001_01_01_000000_create_users_table',1);
INSERT INTO migrations VALUES(2,'0001_01_01_000001_create_cache_table',1);
INSERT INTO migrations VALUES(3,'0001_01_01_000002_create_jobs_table',1);
CREATE TABLE IF NOT EXISTS "users" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar not null, "email_verified_at" datetime, "password" varchar not null, "remember_token" varchar, "created_at" datetime, "updated_at" datetime);
INSERT INTO users VALUES(1,'Test User','test@example.com',NULL,'$2y$12$rHZx1EF/VOKaIcjQkSwKE.Z1mrk3e3XBXcDxuUnruqvF0vt09Wx6q',NULL,'2026-06-05 16:18:38','2026-06-05 16:18:38');
CREATE TABLE IF NOT EXISTS "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" datetime, primary key ("email"));
CREATE TABLE IF NOT EXISTS "sessions" ("id" varchar not null, "user_id" integer, "ip_address" varchar, "user_agent" text, "payload" text not null, "last_activity" integer not null, primary key ("id"));
INSERT INTO sessions VALUES('jHbx4YIBuoXzp7d2IjB2wi3m70hXRDK5Vhj8Pgan',NULL,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Code/1.123.0 Chrome/148.0.7778.97 Electron/42.2.0 Safari/537.36','YTozOntzOjY6Il90b2tlbiI7czo0MDoianl4a0JseGdtTXlKYmpBWFo1emtvNEJXSnBRV1lJMGU5bGpCaUxHOSI7czo5OiJfcHJldmlvdXMiO2E6Mjp7czozOiJ1cmwiO3M6MjE6Imh0dHA6Ly8xMjcuMC4wLjE6ODAwMCI7czo1OiJyb3V0ZSI7Tjt9czo2OiJfZmxhc2giO2E6Mjp7czozOiJvbGQiO2E6MDp7fXM6MzoibmV3IjthOjA6e319fQ==',1780671947);
INSERT INTO sessions VALUES('2FX1JnLhHcWCemZiq8t0P96S736oWSaxiVG8wSLY',NULL,'127.0.0.1','Mozilla/5.0 (Windows NT; Windows NT 10.0; fr-FR) WindowsPowerShell/5.1.26100.7705','YTozOntzOjY6Il90b2tlbiI7czo0MDoiNDBvUDFERkFYNlY1MFhjMHBiQUdQeFFLMktjNElzS0cwNzNsOVl6ciI7czo5OiJfcHJldmlvdXMiO2E6Mjp7czozOiJ1cmwiO3M6MjE6Imh0dHA6Ly8xMjcuMC4wLjE6ODAwMCI7czo1OiJyb3V0ZSI7Tjt9czo2OiJfZmxhc2giO2E6Mjp7czozOiJvbGQiO2E6MDp7fXM6MzoibmV3IjthOjA6e319fQ==',1780672441);
INSERT INTO sessions VALUES('12yP9cemrvwf75V2bBRHMh48T6zRrZF5qwDr3jYg',NULL,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36 Edg/148.0.0.0','YTozOntzOjY6Il90b2tlbiI7czo0MDoidUxXaGlQREFEb25BeVROUnhMZDVXenNmUnh0V25BNzN5aFoxRTZndiI7czo5OiJfcHJldmlvdXMiO2E6Mjp7czozOiJ1cmwiO3M6MzM6Imh0dHA6Ly8xMjcuMC4wLjE6ODAwMC9yZXNlcnZhdGlvbiI7czo1OiJyb3V0ZSI7czoxMToicmVzZXJ2YXRpb24iO31zOjY6Il9mbGFzaCI7YToyOntzOjM6Im9sZCI7YTowOnt9czozOiJuZXciO2E6MDp7fX19',1780677102);
CREATE TABLE IF NOT EXISTS "cache" ("key" varchar not null, "value" text not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "cache_locks" ("key" varchar not null, "owner" varchar not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "jobs" ("id" integer primary key autoincrement not null, "queue" varchar not null, "payload" text not null, "attempts" integer not null, "reserved_at" integer, "available_at" integer not null, "created_at" integer not null);
CREATE TABLE IF NOT EXISTS "job_batches" ("id" varchar not null, "name" varchar not null, "total_jobs" integer not null, "pending_jobs" integer not null, "failed_jobs" integer not null, "failed_job_ids" text not null, "options" text, "cancelled_at" integer, "created_at" integer not null, "finished_at" integer, primary key ("id"));
CREATE TABLE IF NOT EXISTS "failed_jobs" ("id" integer primary key autoincrement not null, "uuid" varchar not null, "connection" text not null, "queue" text not null, "payload" text not null, "exception" text not null, "failed_at" datetime not null default CURRENT_TIMESTAMP);
CREATE TABLE IF NOT EXISTS "dish_categories" ("id" integer primary key autoincrement not null, "name" varchar not null, "slug" varchar not null, "sort_order" integer not null default '0', "is_active" tinyint(1) not null default '1', "created_at" datetime, "updated_at" datetime);
INSERT INTO dish_categories VALUES(1,'Entr├®es','entrees',1,1,'2026-06-05 16:18:38','2026-06-05 16:18:38');
INSERT INTO dish_categories VALUES(2,'Plats','plats',2,1,'2026-06-05 16:18:38','2026-06-05 16:18:38');
INSERT INTO dish_categories VALUES(3,'Boissons','boissons',3,1,'2026-06-05 16:18:38','2026-06-05 16:18:38');
CREATE TABLE IF NOT EXISTS "dishes" ("id" integer primary key autoincrement not null, "dish_category_id" integer not null, "name" varchar not null, "slug" varchar not null, "description" text, "price" integer not null, "image_path" varchar, "is_featured" tinyint(1) not null default '0', "is_active" tinyint(1) not null default '1', "sort_order" integer not null default '0', "created_at" datetime, "updated_at" datetime, foreign key("dish_category_id") references "dish_categories"("id") on delete cascade);
INSERT INTO dishes VALUES(1,1,'Carpaccio de b┼ôuf','carpaccio-de-boeuf','Entr├®e fra├«cheur',8500,'img/548330204_122119031846968359_2643696780765774991_n.jpg',1,1,1,'2026-06-05 16:18:38','2026-06-05 16:18:38');
INSERT INTO dishes VALUES(2,1,'Salade exotique Iguyzza','salade-exotique-iguyzza','M├®lange de fruits frais',6500,'img/561537983_122125478630968359_5990106595369622758_n.jpg',1,1,2,'2026-06-05 16:18:38','2026-06-05 16:18:38');
INSERT INTO dishes VALUES(3,2,'Filet de b┼ôuf grill├®','filet-de-boeuf-grille','Accompagnement au choix',12500,'img/567521816_122125478618968359_1312821641899528111_n.jpg',1,1,3,'2026-06-05 16:18:38','2026-06-05 16:18:38');
CREATE TABLE IF NOT EXISTS "blog_posts" ("id" integer primary key autoincrement not null, "title" varchar not null, "slug" varchar not null, "excerpt" varchar, "content" text, "image_path" varchar, "author_name" varchar, "is_published" tinyint(1) not null default '0', "published_at" datetime, "created_at" datetime, "updated_at" datetime);
INSERT INTO blog_posts VALUES(1,'Soir├®es lounge ├á Abidjan','soirees-lounge-a-abidjan','D├®couvrez l''ambiance Iguyzza : cocktails, musique live et cadre tropical ├á Riviera Palmeraie.','Iguyzza accueille vos soir├®es dans une atmosph├¿re lounge, ├®l├®gante et conviviale au c┼ôur de Cocody.','img/bg1.jpg','Iguyzza',1,'2026-05-31 16:18:38','2026-06-05 16:18:38','2026-06-05 16:18:38');
INSERT INTO blog_posts VALUES(2,'Notre carte du moment','notre-carte-du-moment','Plats signatures, grillades et sp├®cialit├®s pour vos d├®jeuners et d├«ners ├á Cocody.','Notre carte met en avant des recettes g├®n├®reuses, des produits frais et des cocktails signature.','img/bg2.jpg','Iguyzza',1,'2026-06-03 16:18:38','2026-06-05 16:18:38','2026-06-05 16:18:38');
CREATE TABLE IF NOT EXISTS "events" ("id" integer primary key autoincrement not null, "title" varchar not null, "slug" varchar not null, "description" text, "image_path" varchar, "starts_at" datetime, "ends_at" datetime, "is_published" tinyint(1) not null default '0', "created_at" datetime, "updated_at" datetime);
INSERT INTO events VALUES(1,'Soir├®e lounge Iguyzza','soiree-lounge-iguyzza','Cocktails, ambiance musicale et espace VIP pour une soir├®e m├®morable ├á Riviera Palmeraie.','img/event2.jpg','2026-06-19 20:00:00','2026-06-20 02:00:00',1,'2026-06-05 16:18:38','2026-06-05 16:18:38');
CREATE TABLE IF NOT EXISTS "customers" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar, "phone" varchar, "whatsapp" varchar, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "reservations" ("id" integer primary key autoincrement not null, "customer_id" integer, "reservation_date" date, "reservation_time" time, "people_count" integer not null default '1', "status" varchar not null default 'pending', "notes" text, "created_at" datetime, "updated_at" datetime, foreign key("customer_id") references "customers"("id") on delete set null);
CREATE TABLE IF NOT EXISTS "orders" ("id" integer primary key autoincrement not null, "customer_id" integer, "order_number" varchar not null, "status" varchar not null default 'pending', "delivery_method" varchar, "notes" text, "subtotal" integer not null default '0', "delivery_fee" integer not null default '0', "total" integer not null default '0', "created_at" datetime, "updated_at" datetime, foreign key("customer_id") references "customers"("id") on delete set null);
CREATE TABLE IF NOT EXISTS "order_items" ("id" integer primary key autoincrement not null, "order_id" integer not null, "dish_id" integer, "name" varchar not null, "unit_price" integer not null, "quantity" integer not null default '1', "line_total" integer not null, "created_at" datetime, "updated_at" datetime, foreign key("order_id") references "orders"("id") on delete cascade, foreign key("dish_id") references "dishes"("id") on delete set null);
PRAGMA writable_schema=ON;
CREATE TABLE IF NOT EXISTS sqlite_sequence(name,seq);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('migrations',5);
INSERT INTO sqlite_sequence VALUES('users',1);
INSERT INTO sqlite_sequence VALUES('dish_categories',4);
CREATE UNIQUE INDEX "users_email_unique" on "users" ("email");
CREATE INDEX "sessions_user_id_index" on "sessions" ("user_id");
CREATE INDEX "sessions_last_activity_index" on "sessions" ("last_activity");
CREATE INDEX "cache_expiration_index" on "cache" ("expiration");
CREATE INDEX "cache_locks_expiration_index" on "cache_locks" ("expiration");
CREATE INDEX "jobs_queue_index" on "jobs" ("queue");
CREATE UNIQUE INDEX "failed_jobs_uuid_unique" on "failed_jobs" ("uuid");
CREATE UNIQUE INDEX "dish_categories_slug_unique" on "dish_categories" ("slug");
CREATE UNIQUE INDEX "dishes_slug_unique" on "dishes" ("slug");
CREATE UNIQUE INDEX "blog_posts_slug_unique" on "blog_posts" ("slug");
CREATE UNIQUE INDEX "events_slug_unique" on "events" ("slug");
CREATE UNIQUE INDEX "orders_order_number_unique" on "orders" ("order_number");
PRAGMA writable_schema=OFF;
COMMIT;
